////
/// @author Schiller UX/UI Design Department
/// @since v3.1.0
/// @since Sep/2020
/// @group SETTINGS
////

$f-2xxs: --DrHubio-T2xxs;
$f-xxs: --DrHubio-Txxs;
$f-xs: --DrHubio-Txs;
$f-s: --DrHubio-Ts;
$f-base: --DrHubio-Tbase;
$f-m: --DrHubio-Tm;
$f-l: --DrHubio-Tl;
$f-xl: --DrHubio-Txl;
$f-xxl: --DrHubio-Txxl;
$f-2xxl: --DrHubio-T2xxl;
$f-3xxl: --DrHubio-T3xxl;
$f-4xxl: --DrHubio-T4xxl;
$f-6xxl: --DrHubio-T6xxl;

/// This file contains the font styles used in the design system, sizes and weights used in the typer.
/// @group SETTINGS

$TypographyStyles: (
    xs: (#{$Font-1}-regular, 400, #{$f-2xxs}, #{$f-xxs}, 1px),
    sm: (#{$Font-1}-regular, 400, #{$f-xs}, #{$f-s}, 1px),
    md: (#{$Font-1}-regular, 400, #{$f-s}, #{$f-base}, 1px),
    lg: (#{$Font-1}-regular, 400, #{$f-xl}, #{$f-xxl}, 1px),
    xl: (#{$Font-1}-regular, 400, #{$f-2xxl}, #{$f-4xxl}, 1px),
    xs-b: (#{$Font-1}-bold, bold, #{$f-2xxs}, #{$f-xxs}, 1px),
    sm-b: (#{$Font-1}-bold, bold, #{$f-xs}, #{$f-s}, 1px),
    md-b: (#{$Font-1}-bold, bold, #{$f-s}, #{$f-base}, 1px),
    lg-b: (#{$Font-1}-bold, bold, #{$f-xl}, #{$f-xxl}, 1px),
    xl-b: (#{$Font-1}-bold, bold, #{$f-2xxl}, #{$f-4xxl}, 1px),
    xs2: (#{$Font-2}-regular, 400, $f-2xxs, $f-xxs, 1px),
    sm2: (#{$Font-2}-regular, 400, #{$f-xs}, #{$f-s}, 1px),
    md2: (#{$Font-2}-regular, 400, #{$f-s}, #{$f-base}, 1px),
    lg2: (#{$Font-2}-regular, 400, #{$f-xl}, #{$f-xxl}, 1px),
    xl2: (#{$Font-2}-regular, 400, #{$f-2xxl}, #{$f-4xxl}, 1px),
    xs-b2: (#{$Font-2}-bold, bold, $f-2xxs, $f-xxs, 1px),
    sm-b2: (#{$Font-2}-bold, bold, #{$f-xs}, #{$f-s}, 1px),
    md-b2: (#{$Font-2}-bold, bold, #{$f-s}, #{$f-base}, 1px),
    lg-b2: (#{$Font-2}-bold, bold, #{$f-xl}, #{$f-xxl}, 1px),
    xl-b2: (#{$Font-2}-bold, bold, #{$f-2xxl}, #{$f-4xxl}, 1px),
);

@import './engines/Typer';
